Docs/Schemas/SmartSqlLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://SmartSql.net/schemas/SmartSqlLog.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SmartSqlLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LoggerFactoryAdapter">
          <xs:complexType>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>